*{
  /* background-color: #282c34; */
  font-family: 'Roboto', sans-serif;

}

.App {
  text-align: center;
  width: 100%;
  position: relative;
  /* background-color: #282c34; */
    /* color:white; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnClass{
  color:#ccc;
  background-color: #61dafb;
  padding: 10px;

}


a{
  color:white !important;
}

.centerData {
  margin: auto;
  width: 50%;
  border: 1px solid #8cc83c;
  padding: 10px;
}
.padding25{
  padding-bottom: 25px;
  padding-top: 25px;
}
.boxShadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.navbar{
  height: 86px;
  padding: 0;
  background-color:#b91e32;
}